@charset "UTF-8";

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
  font-family: "univers";
  src: url("../fonts/univers/univers.otf"),
    url("../fonts/univers/univers.otf"),
    url("../fonts/univers/univers.otf"),
    url("../fonts/univers/univers.otf") format("embedded-opentype"),
    url("../fonts/univers/univers.otf") format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "lora";
  src: url("../fonts/lora/static/Lora-Italic.ttf") format("truetype");
  /*   
  ("../fonts/lora/static/Lora-Bold.ttf"),
  url("../fonts/lora/static/Lora-BoldItalic.ttf"),
  url("../fonts/lora/static/Lora-Italic.ttf"),
  url("../fonts/lora/static/Lora-Medium.ttf"),
  url("../fonts/lora/static/Lora-MediumItalic.ttf"),
  url("../fonts/lora/static/Lora-Regular.ttf"),
    url("../fonts/lora/static/Lora-SemiBold.ttf") format("embedded-opentype"),
    url("../fonts/lora/static/Lora-SemiBoldItalic.ttf") format("truetype"); */
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "lora2";
  src: url("../fonts/lora/static/Lora-Bold.ttf") format("truetype");
  /*   
  ("../fonts/lora/static/Lora-Bold.ttf"),
  url("../fonts/lora/static/Lora-BoldItalic.ttf"),
  url("../fonts/lora/static/Lora-Italic.ttf"),
  url("../fonts/lora/static/Lora-Medium.ttf"),
  url("../fonts/lora/static/Lora-MediumItalic.ttf"),
  url("../fonts/lora/static/Lora-Regular.ttf"),
    url("../fonts/lora/static/Lora-SemiBold.ttf") format("embedded-opentype"),
    url("../fonts/lora/static/Lora-SemiBoldItalic.ttf") format("truetype"); */
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "lora3";
  src: url("../fonts/lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "lobster";
  src: url("../fonts/lobster/Lobster-Regular.woff2") format("woff");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "lilita";
  src: url("../fonts/lilita_one/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "gloock";
  src: url("../fonts/gloock/Gloock-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "pacifico";
  src: url("../fonts/pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: "dancing";
  src: url("../fonts/dancing_script/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-display: block;
}


/* VARIABLES */


:root {
  /* Color settings */
  --color-background: rgb(138, 138, 138);
  --color-text: rgb(0, 0, 0);
  --color-text-link: rgba(255, 255, 255);
  --color-text-link-hover: rgb(255, 255, 255);
  /* Font settings */
  /* --font-family: "univers", "cheltenham", "lora";
  font-size: 24px;
  font-size: clamp( 20px, 4vw, 32px );
  --font-size: 1.5rem; */
  /* Margins settings */
  /* --margin: 4rem; */
}

/* GENERAL STYLES */



html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

body {
  position: relative;
  /* background-color: var(--color-background); */
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
  /* border-style: dashed;
  border-width: 10px;
  border-color: rgb(255, 111, 0); */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html,
body {
  width: 100%;
  margin: 0;
}

.compass {
  position: fixed;
  bottom: 6%;
  right: 0%;
  /* margin-top: -50px; */
  /* margin-left: -50px; */

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}






/* tryout gallery image scroller */

.button {
  font-size: 1.5em;
  text-align: center;
  font-family: 'pacifico';
  overflow: hidden;
  /* background-color: rgb(0, 0, 255); */
  position: fixed;
  right: 0;
  top: 0;
  margin: 0.5em;
  padding: 0;
  width: 10%;
  background-color: rgb(0, 2, 113);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 0, 0)
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  right: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* overflow: auto; */

}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(255, 111, 0);
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 10px; */
  border-radius: 30px;
  border: 30px groove rgb(0, 229, 255);
  width: 85%;
  /* Could be more or less, depending on screen size */
  box-shadow: 2px 2px 2px 5px black;
}

/* The Close Button */
.close {
  color: rgb(180, 71, 71);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* end of gallery images scroller thingy */





figure.papa {
  margin: auto;
  margin-top: 5%;
  position: center;
  display: absolute;
  border-radius: 30px;
  width: 80%;
  border: groove 1em rgb(255, 111, 0);
}

a {
  color: var(--color-text-link);
  font-family: 'pacifico';
  font-size: 2em;
  /* text-decoration: underline; */
  /* padding-bottom: 1em;
  background: url("https://ewebdesign.com/wp-content/themes/ewebdesign/assets/img/wave.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 1em 1em;
  background-position: 10px 20px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;
  animation-play-state: paused;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; */
}

a:hover {
  color: var(--color-text-link-hover);
  /* text-decoration: underline; */
  animation-play-state: running;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  font-family: 'pacifico';
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0.5em;
  padding: 0;
  width: 35%;
  color: rgb(130, 255, 62);
  text-shadow: 1px 1px #ff0000;

  border-radius: 30px;
  border-color: red;
  border-style: dashed;
  border-width: 5px;
  background-color: rgb(0, 2, 113);
}

h2 {
  text-align: center;
  /* font-size: 3em; */
  font-size: 2.5em;
  font-family: 'pacifico';
  color: rgb(255, 111, 0);
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(48, 101, 106);
  /* -webkit-text-stroke: 0.025px black; */
  border: groove rgb(255, 111, 0);
  ;
  border-radius: 30px;
  border-width: 10px;
  /* margin-left: clamp( 0.5em, 6vw, 3em );
   margin-right: clamp( 0.5em, 6vw, 3em ); */
  /* text-decoration: underline; */
  text-shadow: 2px 2px #152b3f;

}

h3 {
  font-size: 2em;
  font-size: clamp(20px, 10vw, 30px);
  text-align: center;
  font-family: 'pacifico';
  color: rgb(255, 111, 0);
  text-shadow: 2px 2px #152b3f;

}

h4 {
  font-size: 3em;
  font-family: 'dancing';
  text-align: center;
  /* font-size: clamp(10px, 6vw, 30px); */
  margin-left: 4em;
  margin-right: 4em;

}

h5 {
  font-size: clamp(1em, 10vw, 1.5em);
  text-align: center;
  font-family: 'pacifico';
  overflow: hidden;
  /* background-color: rgb(0, 0, 255); */
  position: fixed;
  right: 0;
  top: 0;
  margin: 0.5em;
  padding: 0;
  width: 15%;
  background-color: rgb(0, 2, 113);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 0, 0)
}


h6 {
  font-size: 1.5em;
  text-align: center;
  font-family: 'pacifico';
  color: rgb(130, 255, 62);
  text-shadow: 1px 1px #152b3f;
  line-height: 98%;
}

strong {
  font-family: "lora2";
}

p.fig {
  font-family: "lora3";
  font-size: 1em;
  color: rgb(255, 0, 0);
  background-color: none;
}

p {
  font-family: "lora", monospace;
  /* margin-left: 2em;
  margin-right: 2em; */
  margin: auto;
  font-size: 1.8em;
  background-color: rgb(246, 255, 0);
  width: 80%;
  padding: 0.5em;
  text-align: justify;
  border-radius: 30px;
  font-size: 2em;
  margin: auto;
}

p.my-voice {
  /*background-color: #f2f2f2; /* set your desired background color */
  background-color: transparent !important;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../../content/circle_photos/cloud.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-image: url("./go-theses-23-Einar-Gudmundsson/content/circle_photos/cloud.png"); */
  /*background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8)); /* set the gradient for the blurred effect */
  background-clip: padding-box;
  text-align: center;
  /* font-family: "lora3"; */
  position: center;
  font-family: "dancing";
  color: rgb(0, 0, 0);
  font-size: 2.2em;
  display: block;
  /* margin-left: 4em;
  margin-right: 4em; */
  width: 50%;
  font-size: 2em;
  margin: auto;
}

p.conclusion {
  font-family: "lora3";
  color: rgb(255, 255, 255);
  font-size: 1.0em;
  /* margin-left: 10em;
  margin-right: 10em; */
  margin: auto;
  font-size: clamp(10px, 6vw, 20px);
  display: block;
  background-color: rgb(0, 0, 255)
}

ol,
ul {
  font-size: 2em;
  text-align: center;
  list-style-type: none;
  font-family: 'lora2';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 2, 113);
  position: fixed;
}

p.thanks {
  font-family: "pacifico";
  font-size: 2em;
  color:rgb(0, 2, 113);
  text-shadow: 1px 1px rgb(130, 255, 62);
  border-radius: 50%;
  position: center;
  text-align: center;
  background-color: transparent !important;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../../content/circle_photos/cloud.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* FOOTNOTES!!!! */

footer {
  position: center;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.footer {
  font-family: 'lora3';
  font-size: 1em;
  width:80%;
  background-color: none;
}

sup :target,
footer :target {
  border-radius: 100%;
  background-color: rgba(255, 200, 0, 0.75);
  box-shadow: 0 0 0.5rem 0.5rem rgba(255, 200, 0, 0.75);
  color: #F00;
}

.margin-note {
  position: absolute;
  display: inline;
  width: 20%;
  left: 0;
  padding: 1rem;
  margin-top: -0.625rem;
  box-sizing: border-box;
  height: 0;
  background-color: #F0F;
}

@media screen and (max-width: 780px) {
  .margin-note {
    position: relative;
    padding: 0;
    border: 1px solid #F00;
    border-radius: 100%;
  }
}

/* END OF FOOTNOTES!!!! */


/* tryout */

li {
  float: left;
}

li a,
.dropbtn {
  font-size: 2em;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(255, 0, 0);
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* end of tryout */

#fixed-image {
  position: fixed;
  bottom: 40px;
  transform: translateX(-50%);
  left: -100px;
  transition: left 1s linear;
}

/* more tryout */



Resources
/* end of more tryout */

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* MEDIA QUERIES */

/* responsive typeface */

/* @media (max-width: 298px) {
  :root {
    --font-size: 15px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
} */
/* @media (min-width: 299px) and (max-width: 339px) {
  :root {
    --font-size: 16px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 340px) and (max-width: 439px) {
  :root {
    --font-size: 17px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 440px) and (max-width: 599px) {
  :root {
    --font-size: 18px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 600px) and (max-width: 779px) {
  :root {
    --font-size: 19px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
} */
/* @media (min-width: 780px) and (max-width: 992px) {
  :root {
    --font-size: 20px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --font-size: 22px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 1201px) and (max-width: 1319px) {
  :root {
    /* --font-size: 24px; */
/* }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
} */
/* @media (min-width: 1320px) and (max-width: 1619px) {
  :root {
    /* --font-size: 26px; */
/* }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 1620px) and (max-width: 1879px) {
  :root {
    --font-size: 28px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}
@media (min-width: 1880px) {
  :root {
    --font-size: 30px;
  }
  html,
  body {
    font: var(--font-size) var(--font-family);
  }
} */

/* website media queries */

/* @media (max-width: 779px) { */
/* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the two others to 'override' some styles (exceptions/details) */

/* utilities */

/* .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
} */

/* @media (max-width: 339px) {
  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */
/* }

@media (max-width: 779px) and (orientation: landscape) {
  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */
/* } */

/* @media (min-width: 780px) and (max-width: 992px) { */
/* use this query to apply style for 'small' desktop screens */
/* } */

/* This is a test animation */
/* @-webkit-keyframes move {
  from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

@keyframe move {
  from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
} */
/* test animation ends here */

figure {
  text-align: center;
  border-style: dashed;
  border-width: 10px;
  color: rgb(255, 111, 0);
  background-color: rgb(48, 101, 106);
}

.responsive-images {
  display: flex;
  gap: 10px;
  align-items: center;
}

.responsive-images figure {
  flex: 1;
  margin: 0;
  justify-content: space-between;
}

.responsive-images figure img {
  width: 100%;
}

@media (min-width: 600px) {
  .section {
    display: flex;
    flex-direction: row-reverse;
  }

  .section.reverse {
    flex-direction: row;
  }

  .section figure {
    height: 100%;
    margin: 1em;
    flex: 1;
  }

  .section p {
    flex: 2;
  }

  .p {
    width: 100%
  }

  /* .main-nav {
    position: fixed;
    bottom: 0;
  
    font-size: 0.6em;
    display: flex;
  
    width: 50%;
    justify-content: space-around;
  } */


}

@media (max-width: 600px) {
  .responsive-images {
    display: unset;
  }

  h1 {
    font-size: 1.2em;
    text-align: center;
    font-family: 'pacifico';
    overflow: hidden;
    position: fixed;
    /* left: 0;
    top: 0; */
    margin: 0;
    padding: 0;
    width: 100%;
    color: rgb(130, 255, 62);
    text-shadow: 1px 1px #ff0000;

    border-color: red;
    border-style: dashed;
    border-width: 5px;
    background-color: rgb(0, 2, 113);
    width: 100%;
    box-sizing: border-box;
  }

  .button {
    font-size: 1em;
    text-align: center;
    font-family: 'pacifico';
    overflow: hidden;
    /* background-color: rgb(0, 0, 255); */
    position: fixed;
    left: 0;
    top: 6%;
    margin: 0.5em;
    padding: 0;
    width: 30%;
    /* border-radius: 30px; */
    /* background-color: rgb(0, 2, 113);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 0) */
  }

  li a,
.dropbtn {
  font-size: 1em;
  transform: rotate(-90deg);
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#fixed-image {
  position: fixed;
  bottom: 90px;
  transform: translateX(-50%);
  left: -100px;
  transition: left 0.5s linear;
}

  .compass--small {
      width: 50px; /* set the desired width and height for the smaller image */
      height: 50px;
    }
  
    /* animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both; */
  }

  a {
    color: var(--color-text-link);
    font-family: 'pacifico';
    font-size: 1em;
    transform: rotate('90deg');
  }




  /* p1 {
    /* font-family: "lora3"; */
  /* position: center;
    font-family: "dancing";
    color: rgb(0, 0, 0);
    font-size: clamp(1em, 50vw, 2em);
    display: block; */
  /* margin-left: 4em;
    margin-right: 4em; */
  /* text-align: center;
    width: 80%; */
  /* text-shadow: 1px 1px 0px #00203e; */
  /* } */

  p {
    font-size: 1.4em;
    text-align: left;
  }



  h2 {
    font-size: 2em;
  }

  h5 {
    text-align: center;
    font-family: 'pacifico';
    overflow: hidden;
    /* background-color: rgb(0, 0, 255); */
    position: fixed;
    right: 0;
    top: 0;
    margin: 0.5em;
    padding: 0;
    width: 35%;
    /* background-color:rgb(0, 2, 113);
      border-style: solid;
        border-width: 5px;
        border-color:rgb(255, 0, 0) */
  }

  figure {
    text-align: center;
    /* filter: drop-shadow(0px 0px 2px rgb(255, 0, 0)); */
    /* background-color: rgb(0, 0, 255); */
    border-style: dashed;
    border-width: 10px;
    color: rgb(255, 111, 0);
    background-color: rgb(48, 101, 106)
  }

  /* .compass, nav, .button, #fixed-image {
    display: none;
  } */

.text-align-center {
  text-align: center;

}

.screen {
  /* height: 100vh;*/
}

.main-nav {
  position: fixed;
  bottom: 0;
  float: center;

  font-size: 0.6em;
  display: flex;

  width: 100%;
  justify-content: space-around;
}